.action-link {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
}

.action-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}
