.button-circle {
    text-indent: -9999px;
    box-sizing: border-box;
    
    background-color: transparent;
    width:18px;
    height:18px;
    border: 3px solid white;
    border-radius:50%;
    
}

.button-circle:hover {
    cursor: grab;
    background-color: white;
}

.button-circle.-onScreen {
    background-color: white;
}