.header-main {
    position: relative;
    background-color: var(--remaster);
    
    box-sizing: border-box;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main .logo {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    z-index: 3;
}
