.ilustration-main {
    width: 30%;
    height:auto
}


@media only screen and (max-width: 1200px) {
    .ilustration-main {
        width: 25%;
    }  
}
@media only screen and (max-width: 700px) {
    .ilustration-main {
        width: 30%;
    }  
}
@media only screen and (max-width: 600px) {
    .ilustration-main {
        width: 50%;
    }    
}