.main-form {
    width: 100%;
    max-width: 1100px;
    margin-top: 40px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.main-form .wrapper-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.main-form .label-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.main-form .input-form {
    height: 25px;
    font-size: 18px;
    border: 2px solid #142A6C;
}

.main-form .input-form.-textarea {
    resize: none;
    height: 200px;
    
}

.main-form .button-form {
    padding: 12px 0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 0px black;
    border: 2px solid #142A6C;
    background-color: white;
    box-sizing: border-box;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-form .button-form:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.main-form .button-form .loading-send-form {
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }   
}