.text-main {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    display: inline-block;
    width: 50%;
    margin: 25px 0;
}


@media only screen and (max-width: 1200px) {
    .text-main {
        width: 50%;   
    }
}
@media only screen and (max-width: 900px) {
    .text-main {
        width: 65%;
    }
}
@media only screen and (max-width: 600px) {
    .text-main {
        width: 90%;
        font-size: 18px;
    }
}