.title-main {
    margin: 30px 0 40px 0;
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.title-main.-second {
    color: white;
    font-size: 18px;
}