* {
    --color-first: #004A7A;
    --color-second: white;
    --color-third: #d1ecff;
    --color-fourth: #28666E;
    --color-fifth: #dfdff7;
    --color-sixth: #0f0f32;
    --color-seventh: #212135;

    --primary: #d3d3d3;

    --afirst: #004A7A;
    --sec: #5899E2;
    --black: #1C1A1A;

    --royalBlueTR: #142A6C;
    --royalBlue: #153084;

    --remaster: #101026;
    font-family: sans-serif;
}

body {
    background-color: #d3d3d3;
    font-family: sans-serif;
}